// resource.rc , part of textmovie
// add icon and property to Windows App
// by Coffey

#include <windows.h>
#include "version.h"

#define IDI_APPICON                 1

#ifdef _WIN64
#define VER_FILENAME_STR            "textmovie64.exe\0"
#else
#define VER_FILENAME_STR            "textmovie.exe\0"
#endif
#define VER_FILEDESCRIPTION_STR     "Multimedia Player on Console\0"
#define VER_LEGALCOPYRIGHT_STR      "(C) 2015 Coffey\0"
#define VER_PRODUCTNAME_STR         "TextMovie\0"

IDI_APPICON     ICON    "appiconset.ico"

VS_VERSION_INFO     VERSIONINFO
FILEVERSION        	VER_FILEVERSION
PRODUCTVERSION 	    VER_FILEVERSION
FILEFLAGSMASK  	    VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
FILEFLAGS           VS_FF_DEBUG | VS_FF_PRERELEASE
#else
FILEFLAGS           0
#endif
FILEOS         	    VOS_NT_WINDOWS32
FILETYPE       	    VFT_APP
FILESUBTYPE    	    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
//        BLOCK "041103A4"
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_FILENAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks1", ""
            VALUE "LegalTrademarks2", ""
            VALUE "OriginalFilename", VER_FILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_FILEVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
//        VALUE "Translation", 0x411, 932
        VALUE "Translation", 0x409, 1252
    END
END

